
<% unless @task.blank? %>

<% form_for @task, :url => { :action => "update", :id => @task.id, :search => params[:search], :task_status => params[:task_status] } do |f| %>
  <%= f.error_messages %>

  <div class="input_field">
<% if false %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>

  <br />
<% end %>

  <p>
    <%= f.label :category, t("tasks.category") %><br />
    <%= f.text_field :category %>
  </p>

  <br />

  <p>
    <%= f.label :title, t("tasks.title") %><br />
    <%= f.text_field :title %>
  </p>

  <br />

<% if false %>
  <p>
    <%= f.label :worker %><br />
    <%= f.text_field :worker %>
  </p>

  <br />
<% end %>

<% if false %>
  <p>
    <%= f.label :sub_category %><br />
    <%= f.text_field :sub_category %>
  </p>

  <br />

  <p>
    <%= f.label :start_date, t("tasks.start_date") %><br />
    <%= f.date_select :start_date, :use_month_numbers => true %>
  </p>

  <br />

  <p>
    <%= f.label :due_date, t("tasks.due_date") %><br />
    <%= f.date_select :due_date, :use_month_numbers => true %>
  </p>

  <br />

  <p>
    <%= f.label :complete_date %><br />
    <%= f.date_select :complete_date, :use_month_numbers => true %>
  </p>
<% end %>

  <p>
    <%= f.label :created_at, t("tasks.created_at") %><br />
    <%= f.date_select :created_at, :use_month_numbers => true %>
  </p>

  </div><br />

  <br />

  <p>
    <%= f.label :note, t("tasks.note") %><br />
    <%= f.text_area :note %>
  </p>

  <br />

  <p>
    <%= f.submit t("menu.save"), :disable_with => t("menu.save") %>
  </p>
<% end %>

<br />
<br />

<div class="menu">
<%= link_to t("menu.top"), :action => "index", :search => params[:search], :category => params[:search][:category], :task_status => params[:task_status] -%>
　<%= link_to t("menu.show"), :action => "show", :id => @task.id, :search => params[:search], :task_status => params[:task_status] -%>
</div>
<% end %>

<br />
