
<% unless @task.blank? %>
<table border="0">

<% if false %>
<p>
  <b><%=h t("tasks.user_id") %>:</b>
  <%=h @task.user_id %>
</p>
<% end %>

  <tr>
    <th><%= t("tasks.title") %>:</th>
    <td><%=h @task.title %></td>
  </tr>
  
<% if false %>
<p>
  <b><%=h t("tasks.worker") %>:</b>
  <%=h @task.worker %>
</p>
<% end %>

  <tr>
    <th><%= t("tasks.category") %>:</th>
    <td><%=h @task.category %></td>
  </tr>

<% if false %>
<p>
  <b><%=h t("tasks.sub_category") %>:</b>
  <%=h @task.sub_category %>
</p>
<% end %>

  <tr>
    <th><%= t("tasks.start_date") %>:</th>
    <td><%=h @task.start_date %></td>
  </tr>

  <tr>
    <th><%= t("tasks.due_date") %>:</th>
    <td><%=h @task.due_date %></td>
  </tr>

  <tr>
    <th><%= t("tasks.complete_date") %>:</th>
    <td><%=h @task.complete_date %></td>
  </tr>

  <tr>
    <th><%= t("tasks.note") %>:</th>
    <td><%=h @task.note %></td>
  </tr>

</table>

<br />

<div class="menu">
<%= link_to t("menu.top"), :action => "index", :search => params[:search] -%>
　<%= link_to t("menu.edit"), :action => "edit", :id => @task.id, :search => params[:search] -%>
</div>
<% end %>

<br />
