<% form_for :user, :url => { :action => :update_password, :id => @user.id } do |f| %>
  <%= f.error_messages %>

  <%= f.label :password, "現在のパスワード" %>：<br />
  <%= f.password_field :password, :class => "input_field_width_200" %><br />
  
  <br />

  <%= f.label :edit_password, "変更するパスワード" %>：<br />
  <%= f.password_field :edit_password, :class => "input_field_width_200" %><br />
  
  <br />

  <%= f.label :password_confirmation, "変更するパスワード(再入力)" %>：<br />
  <%= f.password_field :password_confirmation, :class => "input_field_width_200" %><br />
  
  <br />

  <%= f.submit '変更', :disable_with => "変更" %><br />
<% end %>

<br />

<span class="menu">
  <%= link_to t("menu.top"), :root %>
  <%= link_to t("menu.show"), { :action => :show, :id => @user.id } %>
  <%= link_to t("menu.edit"), { :action => :edit, :id => @user.id } %>
</span>

<br />
