
<% form_for :user, :url => { :action => :update, :id => @user.id } do |f| %>
  <%= f.error_messages %>

<%= f.label :login_id, "ログインID" %>：<br />
  <%= f.text_field :login_id, :class => "input_field_width_200" %><br />
  
  <br />
  
  <%= f.label :twitter_id, "Twitter ID" %>：<br />
  <%= f.text_field :twitter_id, :class => "input_field_width_200" %><br />
  
  <br />
  
  <%= f.label :password, "現在のパスワード" %>：<br />
  <%= f.password_field :password, :class => "input_field_width_200" %><br />
  
  <br />

  <%= f.submit t("menu.save"), :disable_with => t("menu.save") %><br />
  
  <br />
  
  <span class="menu"><%= link_to( "パスワード変更", { :action => :edit_password, :id => @user.id }, { :target => "_self" } ) %></span><br />
<% end %>

<br />

<span class="menu"><%= link_to t("menu.show"), { :action => :show, :id => @user.id } %></span>

<br />
